.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 7rem;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    margin-left: 1.5em;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    margin-right: 2em;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--textColor);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a:hover {
    color: var(--secondaryAccent);
    background-color: var(--secondary);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
