.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #444;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #0077cc;
}
