.div__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3em;
}

.div__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  /* make it circle the image*/
  border-radius: 50%;
  overflow: hidden;
  margin: 2em;
}

.first__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second__section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px whitesmoke;
  font-weight: bold;

  background: linear-gradient(
    170deg,
    transparent,
    transparent 40%,
    var(--secondary) 75%,
    var(--secondaryAccent) 100%
  );
}

.second__section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3em;
}

.second__section__content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding: 3em;
}

.third__section{
    display: flex;
    flex-direction: row;
}