.grid__feed {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 1fr 25%;
  gap: 8px;
  overflow: hidden !important;
}

.profile__card_feed:hover > div {
  background-color: aliceblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}