:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #FFFCEA;
  --primaryAccent: #A5F2E7;
  --secondary: #8983F3;
  --secondaryAccent: #3A0077;

  --textColor: #666666;
}
